$bg-color: #F9F9F9;
$text-color: #000000;
$card-and-text-color: #FFFFFF;
$card-shadow-color: #00000014;
$rounded-text-bg-color: #00000052;

$barlow-medium-36px: normal normal 500 36px/43px Barlow; //photogalery text
$barlow-regular-18px: normal normal normal 18px/22px Barlow; //categories text
$barlow-regular-16px: normal normal normal 16px/19px Barlow; //bottom text
$barlow-medium-12px: normal normal 500 12px/14px Barlow; //text inside image

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background: $bg-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 1312px;
  margin: 0 auto;
}

.photogalery {
  font: $barlow-medium-36px;
  color: $text-color;
  margin-bottom: 40px;
  margin-top: 80px;
}

.categories {
  font: $barlow-regular-18px;
  color: $text-color;
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 32px;
  margin-bottom: 233px;
}

.image-card {
  position: relative;
  width: 304px;
  height: 295px;
  background: $bg-color;
  box-shadow: 0px 4px 24px $card-shadow-color;
  border-radius: 4px;
  text-align: center;
}

.image-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $rounded-text-bg-color;
  border-radius: 12px;
  color: $card-and-text-color;
  padding: 5px 12px;
  font: $barlow-medium-12px;
}

.image {
  object-fit: cover;
  // object-position: bottom;
  width: 100%; //304px
  height: 228px;
  border-radius: 4px 4px 0 0;
}

.bottom-text {
  margin: 24px 0;
  font: $barlow-regular-16px;
  color: $text-color;
}

.new-category-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-image-icon {
  width: 24px;
  height: 24px;
  opacity: 0.32;
}

.add-bottom-text {
  margin-top: 16px;
  margin-bottom: 0px;
}

//////media queries
@media screen and (max-width: 1400px) {
  .main-container {
    margin: 0 45px;
  }
  // .cards-container {
  //   justify-content: center;
  //   // margin-bottom: 80px;
  // }
}

@media screen and (max-width: 730px) {
  // .main-container {
  //   margin: 0 45px; //padding skusit
  // }

  .cards-container {
    // justify-content: center;
    margin-bottom: 80px;
  }
}