$bg-color: #F9F9F9;
$text-color: #000000;
$card-and-text-color: #FFFFFF;
$card-shadow-color: #00000014;

$barlow-medium-36px: normal normal 500 36px/43px Barlow; //photogalery text
$barlow-regular-18px: normal normal normal 18px/22px Barlow; //categories text
$barlow-regular-16px: normal normal normal 16px/19px Barlow; //bottom text

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background: $bg-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 1312px;
  margin: 0 auto;
}

.photogalery {
  font: $barlow-medium-36px;
  color: $text-color;
  margin-bottom: 40px;
  margin-top: 80px;
}

.arrow-and-text {
    display: flex;
    // justify-content: start;
    align-items: center;
    margin-bottom: 40px;
}

.back-arrow-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.categories {
  font: $barlow-regular-18px;
  color: $text-color;
//   margin-bottom: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 32px;
  margin-bottom: 233px;
}

.image-card {
  position: relative;
  width: 304px;
  height: 295px;
  background: $bg-color;
  box-shadow: 0px 4px 24px $card-shadow-color;
  border-radius: 4px;
  text-align: center;

  .image {
    object-fit: cover;
    // object-position: bottom;
    width: 100%; //304px
    height: 295px;
    border-radius: 4px;
  }
}

.new-image-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-image-icon {
  width: 24px;
  height: 24px;
  opacity: 0.32;
}

.add-bottom-text {
  margin-top: 16px;
}

//////media queries
@media screen and (max-width: 1400px) {
  .main-container {
    margin: 0 45px;
  }
  // .cards-container {
  //   justify-content: center;
  //   // margin-bottom: 80px;
  // }
}

@media screen and (max-width: 730px) {
  // .main-container {
  //   margin: 0 45px; //padding skusit
  // }

  .cards-container {
    // justify-content: center;
    margin-bottom: 80px;
  }
}