* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background: #F9F9F9;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 1312px;
  margin: 0 auto;
}

.photogalery {
  font: normal normal 500 36px/43px Barlow;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 80px;
}

.arrow-and-text {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.back-arrow-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.categories {
  font: normal normal normal 18px/22px Barlow;
  color: #000000;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 32px;
  margin-bottom: 233px;
}

.image-card {
  position: relative;
  width: 304px;
  height: 295px;
  background: #F9F9F9;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.0784313725);
  border-radius: 4px;
  text-align: center;
}
.image-card .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 295px;
  border-radius: 4px;
}

.new-image-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-image-icon {
  width: 24px;
  height: 24px;
  opacity: 0.32;
}

.add-bottom-text {
  margin-top: 16px;
}

@media screen and (max-width: 1400px) {
  .main-container {
    margin: 0 45px;
  }
}
@media screen and (max-width: 730px) {
  .cards-container {
    margin-bottom: 80px;
  }
}/*# sourceMappingURL=gallery.css.map */