* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background: rgba(0, 0, 0, 0.5607843137);
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 560px;
  margin: 0 auto;
}

.add-images {
  background-color: #FFFFFF;
  max-width: 560px;
  height: 499px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 48px;
  margin-top: 378px;
  margin-bottom: 377px;
}

.upper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.upper-content h2 {
  font: normal normal 500 24px/29px Barlow;
  color: #000000;
}

.close-icon {
  width: 24px;
  height: 24px;
}

.middle-content {
  max-width: 464px;
  height: 258px;
  border: 1px dashed #DDDDDD;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 48px 0 63px;
}

.image-icon {
  width: 24px;
  height: 24px;
}

.middle-text {
  font: normal normal 500 16px/19px Barlow;
  color: #000000;
  margin-top: 12px;
  margin-bottom: 16px;
}

.middle-or-text {
  font: normal normal normal 16px/19px Barlow;
  color: #000000;
  opacity: 0.56;
  margin-bottom: 38px;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  max-width: 170px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 14px 32px 15px;
  font: normal normal 500 16px/19px Barlow;
  color: #000000;
  cursor: pointer;
}

.bottom-content button {
  width: 100%;
  height: 64px;
  border-radius: 4px;
  border: none;
  background-color: #000000;
  font: normal normal 500 16px/19px Barlow;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .main-container {
    margin: 0 35px;
  }
}
@media screen and (max-width: 430px) {
  .add-images {
    padding: 48px 36px;
  }
}/*# sourceMappingURL=add_images.css.map */