$bg-color: #0000008F;
$text-color: #000000;
$input-border-color: #DDDDDD;
$bg-card-color: #FFFFFF;

$barlow-medium-24px: normal normal 500 24px/29px Barlow;; //add category text
$barlow-regular-16px: normal normal normal 16px/19px Barlow; //input writting text
$barlow-medium-16px: normal normal 500 16px/19px Barlow;; //buttom text

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background: $bg-color;
  // display: flex;
  // align-items: center; /* vertically center */
  // justify-content: center; /* horizontally center */
  // height: 100vh; /* ensure the body covers the entire viewport */
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 560px;
  margin: 0 auto;
}

.add-images {
  background-color: $bg-card-color;
  max-width: 560px;
  height: 499px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 48px;
  margin-top: 378px; //delete and replace with body comments
  margin-bottom: 377px; //also delete and replace with body comments
}

///////upper content text and cancel icon
.upper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.upper-content h2 {
  font: $barlow-medium-24px;
  color: $text-color;
}

.close-icon {
  width: 24px;
  height: 24px;
}

////////middle content input text
.middle-content {
    max-width: 464px;
    height: 258px;
    border: 1px dashed $input-border-color;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 48px 0 63px;
}

.image-icon {
    width: 24px;
    height: 24px;
}

.middle-text {
    font: $barlow-medium-16px;
    color: $text-color;
    margin-top: 12px;
    margin-bottom: 16px;
}

.middle-or-text {
    font: $barlow-regular-16px;
    color: $text-color;
    opacity: 0.56;
    margin-bottom: 38px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    max-width: 170px;
    height: 48px;
    border: 2px solid $text-color;
    border-radius: 4px;
    padding: 14px 32px 15px;
    font: $barlow-medium-16px;
    color: $text-color;
    cursor: pointer;
}

////////bottom content button
.bottom-content button {
  width: 100%; //464px
  height: 64px;
  border-radius: 4px;
  border: none;
  background-color: $text-color;
  font: $barlow-medium-16px;
  color: $bg-card-color;
  text-align: center;
  cursor: pointer;
}

/////media queries

@media screen and (max-width: 630px) {
  .main-container {
    margin: 0 35px;
  }
  // .add-category {
  //   margin-top: 189px;
  //   margin-bottom: 188.5px;
  // }
}

@media screen and (max-width: 430px) {
  .add-images {
    padding: 48px 36px;
  }
}