* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background: rgba(0, 0, 0, 0.5607843137);
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 560px;
  margin: 0 auto;
}

.add-category {
  background-color: #FFFFFF;
  max-width: 560px;
  height: 325px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 48px;
  margin-top: 378px;
  margin-bottom: 377px;
}

.upper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.upper-content h2 {
  font: normal normal 500 24px/29px Barlow;
  color: #000000;
}

.close-icon {
  width: 24px;
  height: 24px;
}

.middle-content {
  margin-bottom: 24px;
  position: relative;
}

.category-name {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.0784313725);
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font: normal normal normal 16px/19px Barlow;
  color: #000000;
  padding-left: 23px;
  text-align: left;
}

.image-overlay {
  position: absolute;
  top: -10px;
  left: 16px;
  background-color: white;
  font: normal normal normal 14px/17px Barlow;
  color: #000000;
  width: 121px;
  height: 17px;
  text-align: center;
}

.bottom-content button {
  width: 100%;
  height: 64px;
  border-radius: 4px;
  border: none;
  background-color: #000000;
  font: normal normal 500 16px/19px Barlow;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .main-container {
    margin: 0 35px;
  }
}
@media screen and (max-width: 430px) {
  .add-category {
    padding: 48px 36px;
  }
}/*# sourceMappingURL=add_category.css.map */