$bg-color: #0000008F;
$text-color: #000000;
$input-border-color: #DDDDDD;
$input-shadow-color: #00000014;
$bg-card-color: #FFFFFF;

$barlow-medium-24px: normal normal 500 24px/29px Barlow;; //add category text
$barlow-regular-14px: normal normal normal 14px/17px Barlow;; //name of category text
$barlow-regular-16px: normal normal normal 16px/19px Barlow; //input writting text
$barlow-medium-16px: normal normal 500 16px/19px Barlow;; //buttom text

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background: $bg-color;
  // display: flex;
  // align-items: center; /* vertically center */
  // justify-content: center; /* horizontally center */
  // height: 100vh; /* ensure the body covers the entire viewport */
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 560px;
  margin: 0 auto;
}

.add-category {
  background-color: $bg-card-color;
  max-width: 560px;
  height: 325px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 48px;
  margin-top: 378px; //delete and replace with body comments
  margin-bottom: 377px; //also delete and replace with body comments
}

///////upper content text and cancel icon
.upper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.upper-content h2 {
  font: $barlow-medium-24px;
  color: $text-color;
}

.close-icon {
  width: 24px;
  height: 24px;
}

////////middle content input text
.middle-content{
  margin-bottom: 24px;
  position: relative;
}

.category-name {
  width: 100%; //464px
  height: 64px;
  background: $bg-card-color;
  box-shadow: 0px 1px 2px $input-shadow-color;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  font: $barlow-regular-16px;
  color: $text-color;
  padding-left: 23px;
  text-align: left;
}

.image-overlay {
  position: absolute;
  top: -10px;
  left: 16px;
  background-color: white; //$bg-card-color
  font: $barlow-regular-14px;
  color: $text-color;
  width: 121px;
  height: 17px;
  text-align: center;
}

////////bottom content button
.bottom-content button {
  width: 100%; //464px
  height: 64px;
  border-radius: 4px;
  border: none;
  background-color: $text-color;
  font: $barlow-medium-16px;
  color: $bg-card-color;
  text-align: center;
  cursor: pointer;
}

/////media queries

@media screen and (max-width: 630px) {
  .main-container {
    margin: 0 35px;
  }
  // .add-category {
  //   margin-top: 189px;
  //   margin-bottom: 188.5px;
  // }
}

@media screen and (max-width: 430px) {
  .add-category {
    padding: 48px 36px;
  }
}