$bg-color: #0000008F;
$cancel-icon-color: #000000;
$card-and-arrows-color: #FFFFFF;
$arrows-shadow-color: #00000014;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background: $bg-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 1212px;
  margin: 0 auto;
}

.image-card {
  position: relative;
  max-width: 1212px;
  height: 909px;
  // background-color: $card-and-arrows-color;
  box-shadow: 0px 4px 24px $arrows-shadow-color;
  border-radius: 16px;
  margin: 86px 0 85px;
  // margin-top: 86px; //delete and replace with body comments
  // margin-bottom: 85px; //also delete and replace with body comments
}

.icon {
  width: 24px;
  height: 24px;
}

.close-icon-overlay {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 24px $arrows-shadow-color;
  background-color: $cancel-icon-color;
  opacity: 0.56;
  border-radius: 100%;
  padding: 28px;
}

// .arrows-icons-overlay {
//   position: absolute;
//   width: 80px;
//   height: 80px;
//   background-color: $card-and-arrows-color;
//   box-shadow: 0px 4px 24px $arrows-shadow-color;
//   border-radius: 100%;
//   padding: 28px;
// }

.left-arrow {
  position: absolute;
  left: -40px;
  bottom: 414.5px; // 909/2 - 40 = 414.5px 
  width: 80px;
  height: 80px;
  background-color: $card-and-arrows-color;
  box-shadow: 0px 4px 24px $arrows-shadow-color;
  border-radius: 100%;
  padding: 28px;
}

.right-arrow {
  position: absolute;
  right: -40px;
  bottom: 414.5px;
  width: 80px;
  height: 80px;
  background-color: $card-and-arrows-color;
  box-shadow: 0px 4px 24px $arrows-shadow-color;
  border-radius: 100%;
  padding: 28px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 909px;
  // box-shadow: 0px 4px 24px $arrows-shadow-color;
  border-radius: 16px;
}

//////media queries
@media screen and (max-width: 1400px) {
  .main-container {
    margin: 0 94px;
  }
}

@media screen and (max-width: 630px) {
  .main-container {
    margin: 0 64px;
  }
  .close-icon-overlay {
    top: 12px;
    right: 12px;
  }
}