* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background: rgba(0, 0, 0, 0.5607843137);
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 1212px;
  margin: 0 auto;
}

.image-card {
  position: relative;
  max-width: 1212px;
  height: 909px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.0784313725);
  border-radius: 16px;
  margin: 86px 0 85px;
}

.icon {
  width: 24px;
  height: 24px;
}

.close-icon-overlay {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.0784313725);
  background-color: #000000;
  opacity: 0.56;
  border-radius: 100%;
  padding: 28px;
}

.left-arrow {
  position: absolute;
  left: -40px;
  bottom: 414.5px;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.0784313725);
  border-radius: 100%;
  padding: 28px;
}

.right-arrow {
  position: absolute;
  right: -40px;
  bottom: 414.5px;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.0784313725);
  border-radius: 100%;
  padding: 28px;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 909px;
  border-radius: 16px;
}

@media screen and (max-width: 1400px) {
  .main-container {
    margin: 0 94px;
  }
}
@media screen and (max-width: 630px) {
  .main-container {
    margin: 0 64px;
  }
  .close-icon-overlay {
    top: 12px;
    right: 12px;
  }
}/*# sourceMappingURL=image.css.map */